*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

body{
  width: 100%;
  background: #0D1B2A;
  transition: 1s;
}

.card{
  background: transparent;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12),inset 0 -5px 0 0 #dadce0;
  color: white;
  border: 1px solid cyan;
}

.form{
  text-align: center;
}
.form-control{
  margin-top: 20px;
  border-radius: 13px;
}
.times{
  color: white;
  display: flex;
  font-size: 14px;
  width: 200px;
}
.temp{
  color: white;
  font-size: 70px;
  margin-top: -20px;
  margin-left: 110px;
}

.overcast-text {
  color: white;
  margin-top: -12px;
  font-size: 14px;
}
.forecast-details{
  display: flex;
  gap: 50px;
  justify-content: center;

}
.switchTemp {
  color: white;
  cursor: pointer;
}
.humidity,.wind{
  color: white;
  font-size: 14px;
}
.city{
  color: white;
}
.themes {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 5px;
  top: 4px;
  cursor: pointer;
}
/*************************************************************************/
@media screen and (max-width:414px){
  .details-text{
    text-align: center;
  }
  .switchTemp{
    display:flex;
    justify-content: center;
  }
  .humidity,.wind{
    width: 230px !important;
  }
  .theme-logo{
    font-size: 30px;
  }
}

/*@media screen and (max-width:768px){
  .details-text{
    text-align: center;
  }
  .switchTemp{
    display:flex;
    justify-content: center;
  }
.text-details{
    border: 1px solid yellow;
 }
.temp{
  color: white;
  font-size: 70px;
  margin-top: -20px;
  margin-left: 270px;
}
.mlogo{
  margin-left: 150px;
}
}
*/
@media screen and (max-width:1024px){
  .humidity,.wind{
    width: 120px;
  }
}

/*{theme?'🌙':'🌞'}*/


/******************* Light Theme ****************************************/
.light-mode {
  background: white;
  color: black;
  transition: 1s;
}
.light-mode .switchTemp{
  color: black;
}
.light-mode .humidity{
  color: black;
}
.light-mode .wind{
  color: black;
}
.light-mode .times{
  color: black;
}
.light-mode .temp{
  color: black;
}
.light-mode .overcast-text{
  color: black;
}
.light-mode .forecast-details{
  color: black;
}
.light-mode .city{
  color: black;
}
.light-mode .theme-logo{
  color: black;
}
.light-mode .card{
  border: none;
}